h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}

#closeButtQ{
    position: absolute;
    bottom: 15px;
    right: 48px;
    float: right;
}
#playAgain{
    float: left;
}
#inputForm{
    text-align: center;
}
.btn-primary{
    width: 120px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    border-radius: 15px;
    height: 120px;
    background-color: #457921 !important;
    border-color: #457921 !important;
 }
 #usedHintDiv{
    padding-left: 20px;
      
 }
 #playAgainHome{
    text-align: center;
 }

 #countryGuess{
    position: absolute;
    bottom: 15px;
    left: 48px;
 }
 .btn-dark{
    background-color: #2497C6 !important;
    border-color: #2497C6 !important;
 }
 .btn-success{
    background-color: #4D3232 !important;
    border-color: #4D3232 !important;
 }

